@import "../../../styles.scss";

.main {
  width: 100%;
  background-color: $background--main;

  &__title {
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-size: 5rem;
    font-weight: 300;
    position: relative;
    padding-top: 10rem;

    &::before{
      content: '';
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 24rem;
      background-color: $white;
      height: 1px;
    }
  }

  &__container {
    flex-wrap: wrap;
    align-items: baseline;
    padding-bottom: 20rem;
  }


}
