$header--dark: rgb(15, 15, 15);
$background--main: rgb(40, 45, 52);
$white: rgb(245, 245, 245);
$primary: rgb(230, 130, 0);
$primary--darker: rgb(184, 104, 4);
$gray: rgba(164,168,181,255);
$footer-dark: rgb(23, 23, 23);
$footer-gray: rgba(43,44,51,255);
