<section class="section">
  <header class="header"><b>BLOK PIERWSZY</b></header>
  <fieldset>
  <div>
    <app-radio (click)=changeSelect(FormOptions.Option1) [isSelected]="selected() === FormOptions.Option1" radioName="first block" label="Opcja pierwsza"></app-radio>
    <app-radio (click)=changeSelect(FormOptions.Option2) [isSelected]="selected() === FormOptions.Option2" radioName="second block" label="Opcja druga"></app-radio>
  </div>
  <app-radio (click)=changeSelect(FormOptions.Option3) [isSelected]="selected() === FormOptions.Option3" radioName="random block" label="Opcja losowa"></app-radio>
  </fieldset>
</section>
