$header--dark: rgb(11, 12, 16);
$background--main: rgb(42, 45, 54);
$white: rgb(255, 255, 255);
$primary: rgb(232, 131, 1);

:export {
  header--dark: $header--dark;
  background--main: $background--main;
  white: $white;
  primary: $primary;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
