$header--dark: rgb(15, 15, 15);
$background--main: rgb(40, 45, 52);
$white: rgb(245, 245, 245);
$primary: rgb(230, 130, 0);
$primary--darker: rgb(184, 104, 4);
$gray: rgba(164,168,181,255);
$footer-dark: rgb(23, 23, 23);
$footer-gray: rgba(43,44,51,255);

//RESET CSS
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}


textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}
