$header--dark: rgb(11, 12, 16);
$background--main: rgb(42, 45, 54);
$white: rgb(255, 255, 255);
$primary: rgb(232, 131, 1);

:export {
  header--dark: $header--dark;
  background--main: $background--main;
  white: $white;
  primary: $primary;
}

//RESET CSS
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}


textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
