@import "../../../../../styles.scss";

.description{
  color: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-align: right;
  margin: 0;

  &description__username{
    font-weight: 200;
  }
}
