@import "../../../../../../styles.scss";

.item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;

  &__arrow {
    display: block;
    margin: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid $gray;
    border-left: 2px solid $gray;
    transform: rotate(135deg);
    margin-top: 1rem;
  }

  &:hover {
    color: $primary;

    .item__arrow {
      border-top: 2px solid $primary;
      border-left: 2px solid $primary;
    }
  }
}
